<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NLU classifier</title>
</head>

<body>
    <h1>NLU-classifier predicting sentences</h1>
    <div class="form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="text" type="text" placeholder="Please enter a sentence">
            <button type="button" name="save">Submit </button>
            <p>This is the sentence being predicted by the model:</p>
            <p> {{ text }}</p>
        </form>

        {% if prediction %}
            <p>This is the model prediction {{ prediction }}</p>
        {% endif %}
    </div>
</body>
</html>
