<!DOCTYPE html>
<html>
<head>
    <meta  charset="UTF-8">
    <title>NLU Classifier</title>
</head>

<body>
    <p> Enter a sentence to be predicted by the model</p>
    <div class="form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="text">
            <button type="submit"> Submit</button>
            <p> This is the sentence being predicted by the model: </p>
            <p> {{ text }}</p>

        </form>
        {% if prediction %}
            <p>This is the prediction result {{ prediction }}</p>
        {% endif %}
    </div>
</body>
</html>