<!DOCTYPE html>
<html>
<head>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="utf-8">
    <title>NLU classifier</title>
</head>

<body>
    <div class="allpage">
        <div class="StarHead">
                {% load static %}
                <img class="background" src="{% static 'Stars.png' %}" width="100%" />
            <div class="text">
                <h1>NLU-classifier predicting sentences</h1>
                <a href="/">Home </a>
            </div>
        </div>

            {%  block content %}
            <h2> Upload </h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name = "document">
                <button type="submit">Upload file</button>
            </form>
            {% if url %}
                <p> Uploaded file: <a href="{{ url }}"> {{ url }}</a></p>
            {% endif %}
        {% endblock %}


    </div>
</body>
</html>
