h1{
font-family: Helvetica, sans-serif;
font-size: 3vW;
color: white;
}

p{
font-family: Helvetica, sans-serif;
font-size: 1.5vW;
}

a{
font-family: Helvetica, sans-serif;
color: white;
}

.allpage{
    height: 100vh;
    width:100%;
    }

.StarHead{
width:100%;
height: 30vh;
}

.text{
    position: absolute;
    top: 5%;
    left: 4%;
}

.form{
text-align: center;
}

input {
  width:35%;
  height: 50px;
  padding: 12px 20px;
}
  input[type="text"]
{
    font-size:3vW;
}

input[type=button], input[type=submit], input[type=reset] {
  border: black;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.button1{
padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 24px;}