<!doctype html>
<html>
  <style>
    table, th, td {
      border:1px solid black;
    }
  </style>
<head>
    <title>{% block title %}{% endblock %}</title>
    <nav>
      <h1>Pages</h1>
      <ul>
          <li><a href="/">Index</a>
          <li><a href="/all_tables">tables</a>
          <dd>- <a href="/categories">categories</a></dd>
          <dd>- <a href="/shippers">shippers</a></dd>
          <dd>- <a href="/us_states">us_states</a></dd>
      </ul>
    </nav>
    </head>
    <body>
        <h1>Test Page</h1>
        {% block content %}
        {% endblock %}
    </body>
</html>
