{% extends "base.html" %}

{% block title %}
Placeholder
{% endblock %}

{% block content %}
<h2>Display contents of the categories table</h2>
    <table style="width:50%">
        <thead>
            <th>category_id</th>
            <th>category_name</th>
            <th>description</th>
        </thead>
        <tbody>
            {% for category in categories%}
            <tr>
                <td>{{category[0]}}</td>
                <td>{{category[1]}}</td>
                <td>{{category[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Display contents of the shippers table</h2>
    <table style="width:50%">
        <thead>
            <th>category_id</th>
            <th>category_name</th>
            <th>description</th>
        </thead>
        <tbody>
            {% for shipper in shippers%}
            <tr>
                <td>{{shipper[0]}}</td>
                <td>{{shipper[1]}}</td>
                <td>{{shipper[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Add/Update categories:</h4>
    <form method="POST" action="/categories/add">
        <label>category_id:</label>
        <input type="number" name="category_id">
    
        <label>category_name:</label>
        <input type="text" name="category_name">
    
        <label>description:</label>
        <input type="text" name="description">

        <label>picture:</label>
        <input type="text" name="picture">
    
        <button>Add/Update</button>
      </form>    
    
{% endblock %}