{% extends "base.html" %}

{% block title %}
Placeholder
{% endblock %}

{% block content %}
<h2>Display contents of the poeple table</h2>
    <table style="width:50%">
        <thead>
            <th>person_id</th>
            <th>fname</th>
            <th>lname</th>
            <th>email</th>
        </thead>
        <tbody>
            {% for poeple in people%}
            <tr>
                <td>{{poeple[0]}}</td>
                <td>{{poeple[1]}}</td>
                <td>{{poeple[2]}}</td>
                <td>{{poeple[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Add to people:</h4>
    <form method="POST" action="/people/add">
        <label>person_id:</label>
        <input type="number" name="person_id">
    
        <label>fname:</label>
        <input type="text" name="fname">
    
        <label>lname:</label>
        <input type="text" name="lname">

        <label>email:</label>
        <input type="text" name="email">
    
        <button>Add/Update</button>
      </form>    
    
{% endblock %}