{% extends "base.html" %}

{% block title %}
Placeholder
{% endblock %}

{% block content %}
<h2>Display contents of the categories table</h2>
    <table style="width:50%">
        <thead>
            <th>shipper_id</th>
            <th>company_name</th>
            <th>phone</th>
        </thead>
        <tbody>
            {% for shipper in shippers%}
            <tr>
                <td>{{shipper[0]}}</td>
                <td>{{shipper[1]}}</td>
                <td>{{shipper[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    
{% endblock %}