{% extends "base.html" %}

{% block title %}
Placeholder
{% endblock %}

{% block content %}
<h2>Display contents of the categories table</h2>
    <table style="width:50%">
        <thead>
            <th>shipper_id</th>
            <th>company_name</th>
            <th>phone</th>
        </thead>
        <tbody>
            {% for shipper in shippers%}
            <tr>
                <td>{{shipper[0]}}</td>
                <td>{{shipper[1]}}</td>
                <td>{{shipper[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    <h4>Add to shippers:</h4>
    <form method="POST" action="/shippers/add">
        <label>shipper_id:</label>
        <input type="number" name="shipper_id">
    
        <label>company_name:</label>
        <input type="text" name="company_name">
    
        <label>phone:</label>
        <input type="text" name="phone">
    
        <button>Add</button>
      </form>
    <h4>Update shippers:</h4>
    <form method="POST" action="/shippers/update">
        <label>shipper_id:</label>
        <input type="number" name="shipper_id">
      
        <label>company_name:</label>
        <input type="text" name="company_name">
      
        <label>phone:</label>
        <input type="text" name="phone">
      
        <button>Update</button>
    </form>
    <h4>Delete shippers tuple:</h4>
    <form method="POST" action="/shippers/delete">
        <label>shipper_id:</label>
        <input type="number" name="shipper_id">
      
        <button>Delete</button>
    </form> 
{% endblock %}