{% extends "base.html" %}

{% block title %}
Snacks at home
{% endblock %}

{% block content %}
<h2>Display contents of the snacks_at_home table</h2>
<table style="width:50%">
    <thead>
        <th>person</th>
        <th>snack</th>
        <th>amount</th>
    </thead>
    <tbody>
        {% for snacks in snacks_at_home%}
        <tr>
            <td>{{snacks[0]}}</td>
            <td>{{snacks[1]}}</td>
            <td>{{snacks[2]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h4>Add to snacks_at_home:</h4>
<form method="POST" action="/snacks_at_home/add">
    <label>person:</label>
    <input type="number" name="person">

    <label>snack:</label>
    <input type="number" name="snack">

    <label>amount:</label>
    <input type="number" name="amount">

    <button>Add</button>
</form>
<h4>Update snacks:</h4>
<form method="POST" action="/snacks_at_home/update">
    <label>person:</label>
    <input type="number" name="person">
  
    <label>snack:</label>
    <input type="text" name="snack">
  
    <label>amount:</label>
    <input type="text" name="amount">
  
    <button>Update</button>
</form>    
</form>
<h4>Delete a snack for a person:</h4>
<form method="POST" action="/snacks_at_home/delete">
    <label>person:</label>
    <input type="number" name="person">

    <label>snack to delete:</label>
    <input type="number" name="snack">
  
    <button>Delete</button>
</form>    
{% endblock %}