{% extends "base.html" %}

{% block title %}
Placeholder
{% endblock %}

{% block content %}
<h2>Display contents of the categories table</h2>
    <table style="width:50%">
        <thead>
            <th>state_id</th>
            <th>state_name</th>
            <th>state_abbr</th>
            <th>state_region</th>
        </thead>
        <tbody>
            {% for state in us_states%}
            <tr>
                <td>{{state[0]}}</td>
                <td>{{state[1]}}</td>
                <td>{{state[2]}}</td>
                <td>{{state[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    
{% endblock %}