<!doctype html>
<html>
  <style>
    table, th, td {
      border:1px solid black;
    }
  </style>
<head>
  <title>
    {% block title %}  
    {% endblock %}
  </title>
  <h1>Snack tracker</h1>
    <nav>
      <h1>Pages</h1>
      <ul>
          <li><a href="/">Index</a>
          <li><a href="/all_tables">tables</a>
          <dd>- <a href="/people">people</a></dd>
          <dd>- <a href="/snacks">snacks</a></dd>
          <dd>- <a href="/snacks_at_home">snacks_at_home</a></dd>
      </ul>
    </nav>
    </head>
    <body>
        <h1></h1>
        {% block content %}
        {% endblock %}
    </body>
</html>
