{% extends "base.html" %}

{% block title %}
Snacks
{% endblock %}

{% block content %}
<h2>Display contents of the snack table</h2>
<table style="width:50%">
    <thead>
        <th>snack_id</th>
        <th>snack_name</th>
        <th>cost</th>
    </thead>
    <tbody>
        {% for snack in snacks%}
        <tr>
            <td>{{snack[0]}}</td>
            <td>{{snack[1]}}</td>
            <td>{{snack[2]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> 
    <h4>Add to snacks:</h4>
    <form method="POST" action="/snacks/add">

        <label>snack_name:</label>
        <input type="text" name="snack_name">
    
        <label>cost:</label>
        <input type="text" name="cost">
    
        <button>Add</button>
    </form>
    <h4>Update snacks:</h4>
    <form method="POST" action="/snacks/update">
        <label>snack_id:</label>
        <input type="number" name="snack_id">
      
        <label>snack_name:</label>
        <input type="text" name="snack_name">
      
        <label>cost:</label>
        <input type="text" name="cost">
      
        <button>Update</button>
    </form>
    <h4>Delete a snacks tuple:</h4>
    <form method="POST" action="/snacks/delete">
        <label>snack_id:</label>
        <input type="number" name="snack_id">
      
        <button>Delete</button>
    </form> 
{% endblock %}
